extends view

block content
    .columns
      .column.is-6.is-offset-2.justify
        br
        br
        br
        br
        .tile.notification.is-white
          br
          .content
            form(method='post', action='/')
              h5
                strong Title:
              center 
                label #{user.title}
                  label
              h5
                strong Speaker:
                br
                center 
                  label(name='speaker') #{user.speaker}
                    label
              h5
                strong Date Delivered:
                br
                center 
                  label(name='date_delivered') #{user.date_delivered}
                    label
              h5
                strong Body:
                br
                center 
                  label(name='body') #{user.body}
                    label
              h5
                strong Location:
                br
                center 
                  label(name='locations') #{user.locations}
                    label
              h5
                strong Perma Link:
                br
                center 
                  label(name='permalink') #{user.permalink}
                    label
              h5
                strong Create Date:
                br
                center 
                  label(name='create_date') #{user.create_date}
                    label
              h5
                strong Update Date:
                br
                center 
                  label(name='update_date') #{user.update_date}
                    label
    .column.is-4.is-offset-4
      .control.is-grouped
        p.control
          a.button.is-primary(href= "/speech/" + user._id + "/update") Update
        form(method='post', action='/delete')
          p.control
            button.button.is-primary Delete
   